{%- liquid
  unless limit
    assign limit = main_menu.links.size
  endunless
  unless offset
    assign offset = 0
  endunless
-%}

<ul
  class="site-nav site-navigation small--hide"
  {% unless disable_aria %}
    role="navigation" aria-label="Primary"
  {% endunless %}>
  {%- comment %}<locksmith:0c4d>{% endcomment -%}
    {%- assign locksmith_e91c_forloop__size = 0 %}{%- for link in main_menu.links limit: limit offset: offset -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: main_menu, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_e91c_forloop__size = locksmith_e91c_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_e91c_forloop__index = nil -%}
  {%- comment %}</locksmith:0c4d>{% endcomment -%}
  {%- for link in main_menu.links limit: limit offset: offset -%}
    {%- comment %}<locksmith:94f9>{% endcomment -%}
      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: main_menu, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_e91c_forloop__index == nil %}{% assign locksmith_e91c_forloop__index = 1 %}{% assign locksmith_e91c_forloop__index0 = 0 %}{% else %}{% assign locksmith_e91c_forloop__index = locksmith_e91c_forloop__index | plus: 1 %}{% assign locksmith_e91c_forloop__index0 = locksmith_e91c_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_e91c_forloop__index == 1 %}{% assign locksmith_e91c_forloop__first = true %}{% else %}{% assign locksmith_e91c_forloop__first = false %}{% endif %}{% if locksmith_e91c_forloop__index == locksmith_e91c_forloop__size %}{% assign locksmith_e91c_forloop__last = true %}{% else %}{% assign locksmith_e91c_forloop__last = false %}{% endif %}{% assign locksmith_e91c_forloop__rindex = locksmith_e91c_forloop__size | minus: locksmith_e91c_forloop__index | minus: 1 %}{% assign locksmith_e91c_forloop__rindex0 = locksmith_e91c_forloop__size | minus: locksmith_e91c_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
    {%- comment %}</locksmith:94f9>{% endcomment -%}
    {%- liquid
      assign has_dropdown = false
      assign is_megamenu = false
      if link.links != blank
        assign has_dropdown = true
        if link.levels > 1
          assign is_megamenu = true
        endif
      endif
    -%}

    <li
      class="site-nav__item site-nav__expanded-item{% if has_dropdown %} site-nav--has-dropdown{% endif %}{% if is_megamenu %} site-nav--is-megamenu{% endif %}"
      {% if has_dropdown %}aria-haspopup="true"{% endif %}>

      <a href="{{ link.url }}" class="site-nav__link site-nav__link--underline{% if has_dropdown %} site-nav__link--has-dropdown{% endif %}">
        {{ link.title }}
      </a>
      {%- if is_megamenu -%}
        {%- assign previous_column_type = '' -%}
        {%- assign animation_column = 1 -%}

        <div class="site-nav__dropdown megamenu text-left">
          <div class="page-width">
            <div class="grid{% if dropdown_alignment == 'center' %} grid--center{% endif %}">
              <div class="grid__item medium-up--one-fifth appear-animation appear-delay-{{ animation_column }}">
                {%- assign animation_column = animation_column | plus: 1 -%}

                {%- comment %}<locksmith:4c88>{% endcomment -%}
                  {%- assign locksmith_31cd_forloop__size = 0 %}{%- for childlink in link.links -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childlink, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_31cd_forloop__size = locksmith_31cd_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_31cd_forloop__index = nil -%}
                {%- comment %}</locksmith:4c88>{% endcomment -%}
                {%- for childlink in link.links -%}
                  {%- comment %}<locksmith:e3c7>{% endcomment -%}
                    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childlink, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_31cd_forloop__index == nil %}{% assign locksmith_31cd_forloop__index = 1 %}{% assign locksmith_31cd_forloop__index0 = 0 %}{% else %}{% assign locksmith_31cd_forloop__index = locksmith_31cd_forloop__index | plus: 1 %}{% assign locksmith_31cd_forloop__index0 = locksmith_31cd_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_31cd_forloop__index == 1 %}{% assign locksmith_31cd_forloop__first = true %}{% else %}{% assign locksmith_31cd_forloop__first = false %}{% endif %}{% if locksmith_31cd_forloop__index == locksmith_31cd_forloop__size %}{% assign locksmith_31cd_forloop__last = true %}{% else %}{% assign locksmith_31cd_forloop__last = false %}{% endif %}{% assign locksmith_31cd_forloop__rindex = locksmith_31cd_forloop__size | minus: locksmith_31cd_forloop__index | minus: 1 %}{% assign locksmith_31cd_forloop__rindex0 = locksmith_31cd_forloop__size | minus: locksmith_31cd_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                  {%- comment %}</locksmith:e3c7>{% endcomment -%}
                  {%- liquid
                    assign create_new_column = false

                    if childlink.levels > 0 and locksmith_31cd_forloop__index != 1
                      assign create_new_column = true
                    endif

                    if childlink.levels == 0 and previous_column_type == 'full'
                      assign create_new_column = true
                    endif
                  -%}

                  {%- if create_new_column -%}
                    </div><div class="grid__item medium-up--one-fifth appear-animation appear-delay-{{ animation_column }}">
                    {%- assign animation_column = animation_column | plus: 1 -%}
                  {%- endif -%}

                  {%- assign subcollection_drop = false -%}
                  {%- if childlink.levels > 0 and childlink.url contains '/collections/' -%}
                    {%- liquid
                      assign lang_code_string = request.locale.iso_code | prepend: '/' | downcase
                      assign subcollection_handle = childlink.url | remove: '/collections/' | remove: lang_code_string
                      assign subcollection_drop = collections[subcollection_handle]
                    -%}
                    {%- if subcollection_drop.image != blank -%}
                      <a
                        href="{{ childlink.url }}"
                        class="megamenu__colection-image"
                        aria-label="{{collections[subcollection_handle].title}}"
                        style="background-image: url({{ collections[subcollection_handle].image | img_url: '400x' }})"></a>
                    {%- endif -%}
                  {%- endif -%}

                  {%- unless link.title contains 'Artists' -%}
                  <div class="h5">
                    <a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--top-level">{{ childlink.title }}</a>
                  </div>
                  {%- endunless -%}

                  {%- liquid
                    if childlink.levels > 0
                      assign previous_column_type = 'full'
                    else
                      assign previous_column_type = 'single'
                    endif
                  -%}

                  {%- for grandchildlink in childlink.links -%}
                    {%- comment %}<locksmith:9033>{% endcomment -%}
                      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: grandchildlink, subject_parent: childlink, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                    {%- comment %}</locksmith:9033>{% endcomment -%}
                    <div>
                      <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">
                        {{grandchildlink.title}}
                      </a>
                    </div>
                  {%- endfor -%}
                {%- endfor -%}
              </div>
            </div>
          </div>
        </div>
      {%- elsif has_dropdown -%}
        <ul class="site-nav__dropdown text-left">
          {%- for childlink in link.links -%}
            {%- comment %}<locksmith:9dd7>{% endcomment -%}
              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: childlink, subject_parent: link, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:9dd7>{% endcomment -%}
            {%- liquid
              assign has_sub_dropdown = false
              if childlink.links != blank
                assign has_sub_dropdown = true
              endif
            -%}

            <li class="{% if has_sub_dropdown %} site-nav__deep-dropdown-trigger{% endif %}">
              <a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--second-level{% if has_sub_dropdown %} site-nav__dropdown-link--has-children{% endif %}">
                {{ childlink.title | escape }}
                {%- if has_sub_dropdown -%}
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="M1.57 1.59l12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none" fill-rule="evenodd"/></svg>
                {%- endif -%}
              </a>
              {%- if has_sub_dropdown -%}
                <ul class="site-nav__deep-dropdown">
                  {%- for grandchildlink in childlink.links -%}
                    {%- comment %}<locksmith:1e77>{% endcomment -%}
                      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: grandchildlink, subject_parent: childlink, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                    {%- comment %}</locksmith:1e77>{% endcomment -%}
                    <li>
                      <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">{{ grandchildlink.title | escape }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>
