<div class="page-width">
  <ul class="collection__social">
    {%- if section.settings.social_website != blank -%}
      <li class="collection__social-item">
        <a target="_blank" rel="noopener" href="{{ section.settings.social_website }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Website' }}">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-website" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve"><path d="M245,0C109.69,0,0,109.69,0,245s109.69,245,245,245s245-109.69,245-245S380.31,0,245,0z M31.401,260.313h52.542  c1.169,25.423,5.011,48.683,10.978,69.572H48.232C38.883,308.299,33.148,284.858,31.401,260.313z M320.58,229.688  c-1.152-24.613-4.07-47.927-8.02-69.572h50.192c6.681,20.544,11.267,43.71,12.65,69.572H320.58z M206.38,329.885  c-4.322-23.863-6.443-47.156-6.836-69.572h90.913c-0.392,22.416-2.514,45.709-6.837,69.572H206.38z M276.948,360.51  c-7.18,27.563-17.573,55.66-31.951,83.818c-14.376-28.158-24.767-56.255-31.946-83.818H276.948z M199.961,229.688  c1.213-24.754,4.343-48.08,8.499-69.572h73.08c4.157,21.492,7.286,44.818,8.5,69.572H199.961z M215.342,129.492  c9.57-37.359,21.394-66.835,29.656-84.983c8.263,18.148,20.088,47.624,29.66,84.983H215.342z M306.07,129.492  c-9.77-40.487-22.315-73.01-31.627-94.03c11.573,8.235,50.022,38.673,76.25,94.03H306.07z M215.553,35.46  c-9.312,21.02-21.855,53.544-31.624,94.032h-44.628C165.532,74.13,203.984,43.692,215.553,35.46z M177.44,160.117  c-3.95,21.645-6.867,44.959-8.019,69.572h-54.828c1.383-25.861,5.968-49.028,12.65-69.572H177.44z M83.976,229.688H31.401  c1.747-24.545,7.481-47.984,16.83-69.572h46.902C89.122,181.002,85.204,204.246,83.976,229.688z M114.577,260.313h54.424  c0.348,22.454,2.237,45.716,6.241,69.572h-47.983C120.521,309.288,115.92,286.115,114.577,260.313z M181.584,360.51  c7.512,31.183,18.67,63.054,34.744,95.053c-10.847-7.766-50.278-38.782-77.013-95.053H181.584z M273.635,455.632  c16.094-32.022,27.262-63.916,34.781-95.122h42.575C324.336,417.068,284.736,447.827,273.635,455.632z M314.759,329.885  c4.005-23.856,5.894-47.118,6.241-69.572h54.434c-1.317,25.849-5.844,49.016-12.483,69.572H314.759z M406.051,260.313h52.548  c-1.748,24.545-7.482,47.985-16.831,69.572h-46.694C401.041,308.996,404.882,285.736,406.051,260.313z M406.019,229.688  c-1.228-25.443-5.146-48.686-11.157-69.572h46.908c9.35,21.587,15.083,45.026,16.83,69.572H406.019z M425.309,129.492h-41.242  c-13.689-32.974-31.535-59.058-48.329-78.436C372.475,68.316,403.518,95.596,425.309,129.492z M154.252,51.06  c-16.792,19.378-34.636,45.461-48.324,78.432H64.691C86.48,95.598,117.52,68.321,154.252,51.06z M64.692,360.51h40.987  c13.482,32.637,31.076,58.634,47.752,78.034C117.059,421.262,86.318,394.148,64.692,360.51z M336.576,438.54  c16.672-19.398,34.263-45.395,47.742-78.03h40.99C403.684,394.146,372.945,421.258,336.576,438.54z"/></svg>
          <span class="icon__fallback-text">Website</span>
        </a>
      </li>
    {%- endif -%}
    {%- if section.settings.social_facebook_link != blank -%}
      <li class="collection__social-item">
        <a target="_blank" rel="noopener" href="{{ section.settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-facebook" viewBox="0 0 14222 14222"><path d="M14222 7112c0 3549.352-2600.418 6491.344-6000 7024.72V9168h1657l315-2056H8222V5778c0-562 275-1111 1159-1111h897V2917s-814-139-1592-139c-1624 0-2686 984-2686 2767v1567H4194v2056h1806v4968.72C2600.418 13603.344 0 10661.352 0 7112 0 3184.703 3183.703 1 7111 1s7111 3183.703 7111 7111zm-8222 7025c362 57 733 86 1111 86-377.945 0-749.003-29.485-1111-86.28zm2222 0v-.28a7107.458 7107.458 0 0 1-167.717 24.267A7407.158 7407.158 0 0 0 8222 14137zm-167.717 23.987C7745.664 14201.89 7430.797 14223 7111 14223c319.843 0 634.675-21.479 943.283-62.013z"/></svg>
          <span class="icon__fallback-text">Facebook</span>
        </a>
      </li>
    {%- endif -%}
    {%- if section.settings.social_instagram_link != blank -%}
      <li class="collection__social-item">
        <a target="_blank" rel="noopener" href="{{ section.settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram" viewBox="0 0 32 32"><path fill="#444" d="M16 3.094c4.206 0 4.7.019 6.363.094 1.538.069 2.369.325 2.925.544.738.287 1.262.625 1.813 1.175s.894 1.075 1.175 1.813c.212.556.475 1.387.544 2.925.075 1.662.094 2.156.094 6.363s-.019 4.7-.094 6.363c-.069 1.538-.325 2.369-.544 2.925-.288.738-.625 1.262-1.175 1.813s-1.075.894-1.813 1.175c-.556.212-1.387.475-2.925.544-1.663.075-2.156.094-6.363.094s-4.7-.019-6.363-.094c-1.537-.069-2.369-.325-2.925-.544-.737-.288-1.263-.625-1.813-1.175s-.894-1.075-1.175-1.813c-.212-.556-.475-1.387-.544-2.925-.075-1.663-.094-2.156-.094-6.363s.019-4.7.094-6.363c.069-1.537.325-2.369.544-2.925.287-.737.625-1.263 1.175-1.813s1.075-.894 1.813-1.175c.556-.212 1.388-.475 2.925-.544 1.662-.081 2.156-.094 6.363-.094zm0-2.838c-4.275 0-4.813.019-6.494.094-1.675.075-2.819.344-3.819.731-1.037.4-1.913.944-2.788 1.819S1.486 4.656 1.08 5.688c-.387 1-.656 2.144-.731 3.825-.075 1.675-.094 2.213-.094 6.488s.019 4.813.094 6.494c.075 1.675.344 2.819.731 3.825.4 1.038.944 1.913 1.819 2.788s1.756 1.413 2.788 1.819c1 .387 2.144.656 3.825.731s2.213.094 6.494.094 4.813-.019 6.494-.094c1.675-.075 2.819-.344 3.825-.731 1.038-.4 1.913-.944 2.788-1.819s1.413-1.756 1.819-2.788c.387-1 .656-2.144.731-3.825s.094-2.212.094-6.494-.019-4.813-.094-6.494c-.075-1.675-.344-2.819-.731-3.825-.4-1.038-.944-1.913-1.819-2.788s-1.756-1.413-2.788-1.819c-1-.387-2.144-.656-3.825-.731C20.812.275 20.275.256 16 .256z"/><path fill="#444" d="M16 7.912a8.088 8.088 0 0 0 0 16.175c4.463 0 8.087-3.625 8.087-8.088s-3.625-8.088-8.088-8.088zm0 13.338a5.25 5.25 0 1 1 0-10.5 5.25 5.25 0 1 1 0 10.5zM26.294 7.594a1.887 1.887 0 1 1-3.774.002 1.887 1.887 0 0 1 3.774-.003z"/></svg>
          <span class="icon__fallback-text">Instagram</span>
        </a>
      </li>
    {%- endif -%}
    {%- if section.settings.social_youtube_link != blank -%}
      <li class="collection__social-item">
        <a target="_blank" rel="noopener" href="{{ section.settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-youtube" viewBox="0 0 21 20"><path fill="#444" d="M-.196 15.803q0 1.23.812 2.092t1.977.861h14.946q1.165 0 1.977-.861t.812-2.092V3.909q0-1.23-.82-2.116T17.539.907H2.593q-1.148 0-1.969.886t-.82 2.116v11.894zm7.465-2.149V6.058q0-.115.066-.18.049-.016.082-.016l.082.016 7.153 3.806q.066.066.066.164 0 .066-.066.131l-7.153 3.806q-.033.033-.066.033-.066 0-.098-.033-.066-.066-.066-.131z"/></svg>
          <span class="icon__fallback-text">YouTube</span>
        </a>
      </li>
    {%- endif -%}
    {%- if section.settings.social_twitter_link != blank -%}
      <li class="collection__social-item">
        <a target="_blank" rel="noopener" href="{{ section.settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-twitter" viewBox="0 0 32 32"><path fill="#444" d="M31.281 6.733q-1.304 1.924-3.13 3.26 0 .13.033.408t.033.408q0 2.543-.75 5.086t-2.282 4.858-3.635 4.108-5.053 2.869-6.341 1.076q-5.282 0-9.65-2.836.913.065 1.5.065 4.401 0 7.857-2.673-2.054-.033-3.668-1.255t-2.266-3.146q.554.13 1.206.13.88 0 1.663-.261-2.184-.456-3.619-2.184t-1.435-3.977v-.065q1.239.652 2.836.717-1.271-.848-2.021-2.233t-.75-2.983q0-1.63.815-3.195 2.38 2.967 5.754 4.678t7.319 1.907q-.228-.815-.228-1.434 0-2.608 1.858-4.45t4.532-1.842q1.304 0 2.51.522t2.054 1.467q2.152-.424 4.01-1.532-.685 2.217-2.771 3.488 1.989-.261 3.619-.978z"/></svg>
          <span class="icon__fallback-text">Twitter</span>
        </a>
      </li>
    {%- endif -%}
    {%- if section.settings.social_apple_link != blank -%}
      <li class="collection__social-item">
        <a target="_blank" rel="noopener" href="{{ section.settings.social_apple_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Apple' }}">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-apple" viewBox="0 0 32 32"><path fill="#444" d="M28.893,24.01c-0.705,1.562-1.042,2.258-1.95,3.638c-1.265,1.927-3.05,4.327-5.262,4.347 c-1.965,0.018-2.47-1.278-5.137-1.263c-2.667,0.015-3.223,1.287-5.188,1.268c-2.212-0.02-3.902-2.187-5.168-4.115 c-3.54-5.388-3.91-11.712-1.727-15.073c1.552-2.39,4-3.787,6.302-3.787c2.343,0,3.817,1.285,5.755,1.285 c1.88,0,3.025-1.287,5.735-1.287c2.048,0,4.218,1.115,5.765,3.042C22.952,14.842,23.775,22.075,28.893,24.01L28.893,24.01z"></path> <path d="M20.484,5.651c0.985-1.263,1.732-3.047,1.46-4.87c-1.608,0.11-3.488,1.133-4.587,2.467 c-0.997,1.21-1.82,3.005-1.5,4.75C17.612,8.053,19.429,7.005,20.484,5.651L20.484,5.651z"></path></svg>
          <span class="icon__fallback-text">Apple Music</span>
        </a>
      </li>
    {%- endif -%}
    {%- if section.settings.social_spotify_link != blank -%}
      <li class="collection__social-item">
        <a target="_blank" rel="noopener" href="{{ section.settings.social_spotify_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Spotify' }}">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-spotify" viewBox="0 0 32 32"><path fill="#444" d="M16,0C7.2,0,0,7.2,0,16s7.2,16,16,16s16-7.2,16-16S24.9,0,16,0z M23.4,23.1c-0.3,0.5-0.9,0.6-1.4,0.3 c-3.8-2.3-8.5-2.8-14.1-1.5c-0.6,0.2-1-0.2-1.2-0.7c-0.2-0.6,0.2-1,0.7-1.2c6.1-1.4,11.4-0.8,15.5,1.8C23.5,22,23.6,22.6,23.4,23.1z M25.3,18.7c-0.4,0.6-1.1,0.8-1.7,0.4c-4.3-2.6-10.9-3.4-15.9-1.8c-0.6,0.2-1.4-0.2-1.5-0.8C6,15.8,6.3,15.1,7,15 c5.8-1.8,13-0.9,18,2.2C25.4,17.4,25.7,18.2,25.3,18.7z M25.4,14.2c-5.1-3-13.7-3.4-18.6-1.8c-0.8,0.2-1.6-0.2-1.8-1 c-0.2-0.8,0.2-1.6,1-1.8c5.7-1.7,15-1.4,21,2.2c0.7,0.4,1,1.4,0.6,2.1C27.1,14.4,26.2,14.6,25.4,14.2z"></path></svg>
          <span class="icon__fallback-text">Spotify</span>
        </a>
      </li>
    {%- endif -%}
  </ul>
</div>

{% schema %}
{
  "name": "Artist Social",
  "settings": [
    {
      "type": "header",
      "content": "Accounts"
    },
    {
      "type": "url",
      "id": "social_website",
      "label": "Website"
    },
    {
      "type": "url",
      "id": "social_facebook_link",
      "label": "Facebook"
    },
    {
      "type": "url",
      "id": "social_instagram_link",
      "label": "Instagram"
    },
    {
      "type": "url",
      "id": "social_youtube_link",
      "label": "YouTube"
    },
    {
      "type": "url",
      "id": "social_apple_link",
      "label": "Apple Music"
    },
    {
      "type": "url",
      "id": "social_spotify_link",
      "label": "Spotify"
    }
  ],
  "presets": [
    {
      "name": "Artist Social"
    }
  ]
}
{% endschema %}